
*{
    margin: 0;
    padding: 0;
    border-collapse: collapse;
}

:root{

    --mobile-width: 375px;
    --desktop-width: 900px;

    --dark_cyan: hsl(158, 36%, 37%);
    --cream: hsl(30, 38%, 92%);

    --very_dark_blue: hsl(212, 21%, 14%);
    --dark_grayish_blue: hsl(228, 12%, 48%);

    --paragraph_size: 14px;
}

.montserrat-500 {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
  }

.montserrat-700 {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
  }

.fraunces-700 {
    font-family: "Fraunces", serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-variation-settings:
    "SOFT" 0,
    "WONK" 0;
}

body{
    background-color: var(--cream);
    width: 360px;
    margin-left: auto;
    margin-right: auto;
    display: block;  
    padding-top: 40px;
}

.img{
    width: 340px;
    border-radius: 10px 10px 0px 0px;
    margin: auto;
    display: block;
}

.img2{
    display: none;
}

.div1{
    background-color: white;
    width: 300px;
    margin: auto;
    display: block;
    padding-left: 20px;
    padding-right: 20px;
}

.p1{
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-size: 13px;
    color: var(--dark_grayish_blue);
    padding-top: 25px;
    letter-spacing: 5px; 
}

.title{
    font-family: "Fraunces", serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-variation-settings:
    "SOFT" 0,
    "WONK" 0;
    font-size: 32px;
    margin-top: 20px;
    margin-bottom: 20px;
    line-height: 34px;
}

.paragraph{
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-size: var(--paragraph_size);
    color: var(--dark_grayish_blue);
    margin-bottom: 20px;
    line-height: 20px;
}

.flex-price{
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 25px;
}

.price1{
    font-family: "Fraunces", serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-variation-settings:
    "SOFT" 0,
    "WONK" 0;
    font-size: 32px;
    color: var(--dark_cyan);
    margin-bottom: 10px;
}

.price2{
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-size: var(--paragraph_size);
    color: var(--dark_grayish_blue);
    text-decoration: line-through;
    margin-bottom: 20px;
}

.button{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    background-color: var(--dark_cyan);
    gap: 10px;
    color: white;
    border: none;
    width: 100%;
    padding: 15px;
    border-radius: 8px;
    font-size: var(--paragraph_size);
    margin-bottom: 30px;

}

.icon{
    width: 15px;
    height: 15px;
    margin: 0; 
    padding: 0;
    
}

@media (min-width: 900px) {

    body{
        max-width: var(--desktop-width);
        padding-top: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 100vh;
        
    }

    main{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .img{
        display: none;
    }

    .img2{
        display: block;
        width: 325px;
        height: 450px;
        border-radius: 10px 0px 0px 10px;
    }

    .div1{
        width: 245px;
        height: 450px;
        padding-left: 40px;
        padding-right: 40px;
        margin: 0;
        border-radius: 0px 10px 10px 0px;
    }

    .title{
        width: 220px;
    }

    .button:hover{
        background-color: hsl(158, 36%, 27%);
        cursor: pointer;
    }
}